@import 'angular';
.info {
    display: flex;
    align-items: center;
    gap: 30px;    
    margin-bottom: 30px;
}

.inf {

    &__title {
        color: #595085;
        font-family: $ff;
       font-size: 16px;
        font-weight: 500;
        margin-bottom: 4px;
    }

    &__desc {
        color: #595085;
        font-family: $ff;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 11px;
    }

    &__btn {
        color: #595085;
        font-family: $ff;
        font-size: 12px;
        font-weight: 400;
        text-decoration-line: underline;
    }
}